<div class="overview-container">
    <div class="row">
        <div class="col-lg-6">
            <div class="left">
                <app-cards></app-cards>
                <app-billing></app-billing>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="right">
                <app-locations></app-locations>
                <app-usage></app-usage>
                <div class="component-group">
                    <div class="administrators-component">
                        <app-administrators></app-administrators>
                    </div>
                    <app-support></app-support>
                </div>
            </div>
        </div>
    </div>
</div>