.administrators-container {
    width: 353px;
    height: 180px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;

    .administrators-header {
        padding: 20px 0 0 30px;

        .title {
            font-weight: 500;
            font-size: 20.1118px;
            line-height: 25px;
            color: #404040;
        }
    }
    .adminstrator-list-group {
        display: flex;
        align-items: center;

        .list {
            display: flex;
            width: 260px;
            height: 60px;
            margin: 10px 0 0 30px;
            overflow: hidden;

            .administrator-group {
                display: flex;
                flex-direction: column;
                width: 42.14px;
                height: 60px;
                margin-right: 12px;

                img {
                    width: 43px;
                    height: 43px;
                    border-radius: 50%;
                    opacity: 0.8;
                }

                .label-administrator {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    overflow: hidden;
                    color: #404040;
                }
            }
        }

        .next-button {
            button {
                border: none;
                background: transparent;
            }
        }
    }

    .invitation {
        width: 291px;
        height: 37px;
        margin: 10px 0 0 20px;

        form {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 175.32px;
                height: 36.52px;
                background: #ffffff;
                border: 1px solid #197bbd;
                box-sizing: border-box;
                border-radius: 8px;
            }

            .is-invalid {
                border: 1px solid red;
            }

            button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100px;
                height: 36.52px;
                background: #ffc145;
                border-radius: 13.617px;
                border: none;
                outline: none;

                .button-text {
                    font-weight: bold;
                    font-size: 11.1442px;
                    line-height: 14px;
                    color: #404040;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .administrators-container {
        width: 100%;
        margin: auto;
    }
}
